<div class="container ">
    <div class="row align-items-center text-center"
        style="min-height: 75vh">
        <div class="col-md-4 bg-white" style="width:30px;margin:auto;">
          <h3 style="margin-top:20px">Payment Done</h3>
          <button style="width:100px; margin:30px"><%= link_to "Ok", customer_add_order_path(params[:id]) %></button>
        </div>
    </div>
</div>