<div class="container">
    <div class="row align-items-center text-center"
        style="min-height: 80vh">
        <div class="col-md-12">
          <h3>Page not Exist</h3>
        </div>
    </div>
</div>