<%=  form_with model: @categories do |form| %>
  <div class="row">
    <div class="col-sm-3">
      <%= form.label :Name %> :
    </div>
    <div class="col-sm-9">
      <%= form.text_field :name %>
    </div>
  </div>
  <br>
  <div>
  <%= form.submit %>
  </div> 
  <% end %>